<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/login-header :: login-header">


<!-- <title th:text="#{message.resetPassword}">reset</title> -->
</head>

<body class="login">

       <div class="container">
       
       
       <div th:include="fragments/company-image :: company-image" ></div>
       
       
        <div class="row">
        	<div class="col-md-6" th:style="'margin-left:27%;'">
		        <div id="successmsg" class="alert alert-success" style="display:none"></div>
		        <div id="errormsg" class="alert alert-danger" style="display:none"></div>
        <div class="portlet light ">
        	<div class="portlet-title">
    			<div class="caption">
                   <i class="icon-settings font-green"></i>
                   <span class="caption-subject font-green sbold uppercase">Forget Password ?</span>
                   <span class="form-subtitle font-dark">Enter your e-mail to reset it.</span>
                </div>                                                              
            </div>
        		
                	<div class="portlet-body form">
                		<form role="form" id="forgetPasswordForm">
                			<div class="form-body">
                			
                				 <div class="form-group">
                                   <div class="input-group">
                                   		<span class="input-group-addon">
	                                  		<i class="fa fa-envelope font-green"></i>
	                                   </span>
	                                   <input class="form-control" autocomplete="off" value="" placeholder="Email" id="email" name="email" type="email"  />
                                   </div>
                              	</div>
                			</div>
                			<div class="form-actions">
                               <button class="btn blue uppercase pull-right" type="submit" onclick="resetPass()" th:text="#{message.resetPassword}">reset</button>
                               <!-- <button type="button" id="back-btn" th:href="@{/login}" th:text="#{label.form.loginLink}" class="btn btn-default">login</button> -->
                               <a class="btn default" th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
                            </div>
                	</form>
              </div>
            
        </div>
        
        </div>
        
        </div>
    </div>
	<!-- END FORGOT PASSWORD FORM -->
            
<script th:src="@{/assets/js/jquery.min.js}" type="text/javascript"></script>
<script th:inline="javascript">
/*<![CDATA[*/
           
var serverContext = [[@{/}]];

	$(document).ready(function () {
	    $('#forgetPasswordForm').submit(function(event) {
	    	resetPass(event);
	    });
});

function resetPass(event){
	
	event.preventDefault();
	
    var email = $("#email").val();
   
    
    $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
    	
            window.location.href = serverContext + "login?message=" + data.message;
            
    }).fail(function(data) {
    	if(data.responseJSON.error.indexOf("MailError") > -1)
        {
    		
            window.location.href = serverContext + "emailError";
        }
        else{
        	
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
    });
} 

$(document).ajaxStart(function() {
    $("title").html("LOADING ...");
});
/*]]>*/
</script>
</body>
</html>