<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{label.pages.student.assignment}">Title</title>
</head>
<body>
	<th:block layout:fragment="script">

	</th:block>

	<div layout:fragment="content">

		<div class="page-content-inner">
			<div class="row">
				<!-- BEGIN SAMPLE FORM PORTLET-->
				<div class="portlet light ">
					
					<div class="portlet-title">
						<div class="caption font-red-sunglo">
							<i class="icon-settings font-red-sunglo"></i> <span
								class="caption-subject font-blue-madison bold">Assignment Details</span>
						</div>
						<div class="actions">
							<div class="btn-group">
								<a class="btn btn-sm green btn-outline dropdown-toggle"
									href="javascript:;" data-toggle="dropdown"> Actions <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu pull-right">
									<li><a th:href="@{/student/assignments}"><i class="fa fa-eye"></i>View Assignments</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="row" th:if="${assignmentStudent != null}">
						<div class="portlet blue-hoki box">
							<div class="portlet-title">
								<div class="caption">
									<span class="fa fa-sticky-note-o"></span>
									<span th:text="${assignmentStudent.assignment.title}"></span>
								</div>
								<div class="actions">
									<a th:href="@{/student/addDocument(assignmentId=${assignmentStudent.assignment.id})}" class="btn btn-info btn-sm"> <i
										class="fa fa-pencil"></i>Submit Assignment
									</a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row static-info">
									<div class="col-md-5 name">Last date of submission:</div>
									<div class="col-md-7 value"><span th:text="${assignmentStudent.submitEndDate} ? ${#calendars.format(assignmentStudent.submitEndDate,'dd MMM yyyy hh:mm a')}"></span></div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">Status:</div>
									<div class="col-md-7 value">
										<span th:class="${assignmentStudent.status} ? 'label label-success' : 'label label-danger'" th:if="${assignmentStudent.status} == true">Submitted</span>
										<span th:class="${assignmentStudent.status} ? 'label label-success' : 'label label-danger'" th:if="${assignmentStudent.status} == false">Not Submitted</span>
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">Instruction:</div>
									<div class="col-md-7">
										<span th:utext="${assignmentStudent.assignment.instructions}"></span>
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">Assignment Reference Documents:</div>
									<div class="col-md-7">
										<ul class="list-group">
											<li class="list-group-item list-group-item-info clearfix" th:each="document : ${assignmentsDocuments}">
												<span class="glyphicon glyphicon-file"></span>
												<span th:text="${document.name}"></span>
												<span class="pull-right">
													<a th:href="@{'/student/downloadAssignmentReferenceDocument/'}+${document.id}+'/'+${document.assignment.id}"
														data-toggle="tooltip" data-placement="top"
														title="Download assignment reference document"> <span class="fa fa-download"></span>
													</a>
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>