button.accordion {
    background-color: #E5FFE5;
    color: #0184D2;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
    
}

button.accordion.active, button.accordion:hover {
    background-color: #FEE08D; 
}

div.answer {
    padding: 0 18px;
    display: none;
    background-color: white;
    font-size: 15px;
}

div.answer.show {
    display: block;
}