<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<th:block layout:fragment="script">
		
		<link th:href="@{/assets/css/tableResponsive.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css" />
		<script th:src="@{/assets/js/bootstrap-datetimepicker.js}"></script>
		 
		<script th:inline="javascript">
           /*<![CDATA[*/
			var contextRoot = /*[[@{/}]]*/'';
           
			var date = new Date();
			date.setDate(date.getDate()-1);

			$('.studentsAssignmentUpdateDate').datetimepicker({
			    use24hours: true,
			    startDate: date,
			    weekStart: 1,
			    todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
			    showMeridian: 1
			});
			
			$(document).ready(function () {
				$('#updateAssignmentStudentForm').submit(function(event) {
					updateAssignmentStudentLastDateOfSubmission(event);
			    });
			});

			function updateAssignmentStudentLastDateOfSubmission(event){
				
			    event.preventDefault();
			        
			    var formData= $('#updateAssignmentStudentForm').serialize();
			    
			    var assignmentId = $('#assignmentId').val();
			    var page = $('#page').val();
			    
			    $.post(contextRoot+"teacher/updateAssignmentStudentDate",formData ,function(data){
			    					
					var url = contextRoot+'teacher/viewAssignmentStudents?assignmentId='+ assignmentId;
					
					if(page){
						url = url + '&page='+page;
					}
					
					$("#no-more-tables").load(url);
					$('#th_Checkbox').attr('checked', false); // Unchecks it
					
					$('#assignmentStudentsModal').modal('hide');
					$('.modal-backdrop').remove();
					$('.modal-content', this).empty();
					
					successMsg(data.message);
			    	
			    }).fail(function(data) {
			        if(data.responseJSON.error.indexOf("InternalError") > -1){
			            /* $("#errormsg").show().append(data.responseJSON.message); */
			        	errorMsg(data.responseJSON.message);
			        }else{
			        	var errors = $.parseJSON(data.responseJSON.message);
			            $.each( errors, function( index,item ){
			                errorMsg(item.defaultMessage);
			            });
			        }
			    });
			}
			/*]]>*/
		</script>
		
		<style th:inline="text">
			.modal-dialog {
				width: 65%;			
			}
		</style>
</th:block>

<div class="modal-header">
	<input id="page" type="hidden" th:value="${page}" />
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<div class="portlet light ">
		<div class="portlet-title">
			<div class="col-md-4">
				<i class="fa fa-sticky-note-o font-red-sunglo" data-toggle="tooltip"
					data-placement="top" title="Assignment Name"></i> <span
					class="caption-subject font-blue-madison bold"
					th:text="${assignment.title}">View Assignment</span>
			</div>
		
			<div class="col-md-3" data-toggle="tooltip" data-placement="top"
				title="Last Date Of Submission">
				<span class="fa fa-calendar-o font-red-sunglo "></span> <span
					class="caption-subject font-blue-madison"
					th:text="${assignment.submitEndDate} ? ${#calendars.format(assignment.submitEndDate,'dd MMM yyyy hh:mm a')}">Assignment
					Date Information</span>
			</div>
			<div class="col-md-4">
				<div class="col-md-7" data-toggle="tooltip" data-placement="top"
					title="Assignment Session">
					<span class="font-red-sunglo bold">Session :</span> <span
						class="caption-subject font-blue-madison"
						th:text="${assignment.session}">Assignment Session</span>
				</div>
		
				<div class="col-md-5" data-toggle="tooltip" data-placement="top"
					title="Assignment Status">
					<span class="font-red-sunglo bold">Status :</span> <span
						class="caption-subject font-blue-madison"
						th:text="${assignment.status==true?'Published':'Saved'}">Assignment
						Status</span>
				</div>
			</div>
		</div>
	</div>
</div>

<form role="form" id="updateAssignmentStudentForm" th:object="${assignmentStudentListDto}" >
<div class="modal-body">
	<div class="control-group">
		<div id="no-more-tables" class="portlet-body form">
			<input type="hidden" id="assignmentId" th:field="*{assignmentId}" />
			<table id="editAssignmentStudentTable"
				class="col-md-12 table-bordered table-striped table-condensed cf">

				<thead class="cf">
					<tr>
						<th>#</th>
						<th>Email</th>
						<th><span data-toggle="tooltip" data-placement="top"
							title="Assignment Status" class="glyphicon glyphicon-stats"></span>
						</th>
						<th width="29%"><span data-toggle="tooltip"
							data-placement="top" title="Submitted Date"
							class="glyphicon glyphicon-time"></span></th>
						<th><span data-toggle="tooltip" data-placement="top"
							title="Last Date Of Submission"
							class="glyphicon glyphicon-time"></span></th>
					</tr>
				</thead>
				<tbody th:if="${not #lists.isEmpty(assignmentStudentListDto.assignmentStudents)}">
					<tr	th:each="assignmentStudentInfo,rowStat : *{assignmentStudents}">
						<td th:text="${rowStat.count}">1</td>
						<td class="assignmentStudentId" style="display: none;" ><input type="hidden" th:field="*{assignmentStudents[__${rowStat.index}__].assignmentStudentId}"  th:value="${assignmentStudentInfo.assignmentStudentId}" /></td>
						
						<td data-title="Email" th:text="${assignmentStudentInfo.email}">Email</td>

						<td data-title="Assignment Status"
							th:class="${assignmentStudentInfo.status} ? 'label label-success' : 'label label-danger'"
							th:if="${assignmentStudentInfo.status} == true">Submitted</td>
						<td data-title="Assignment Status"
							th:class="${assignmentStudentInfo.status} ? 'label label-success' : 'label label-danger'"
							th:if="${assignmentStudentInfo.status} == false">Not
							Submitted</td>

						<td data-title="Submitted Date"
							th:text="${assignmentStudentInfo.submitedDate} ? ${#calendars.format(assignmentStudentInfo.submitedDate,'dd MMM yyyy hh:mm a')}">Submitted
							Date</td>

						<td data-title="Last Date Of Submission"
							th:text="${assignmentStudentInfo.lastDateOfSubmission} ? ${#calendars.format(assignmentStudentInfo.lastDateOfSubmission,'dd MMM yyyy hh:mm a')}">Last
							date of submission</td>

					</tr>
				</tbody>

				<tbody th:if="${#lists.isEmpty(assignmentStudentListDto.assignmentStudents)}">
					<tr>
						<td class="alert alert-warning" align="center" colspan="4">No
							Assignment Student Found!</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="dtp_input2"
						th:text="#{label.assignment.submitEndDate}"
						class="control-label">Due Date</label>
					<div class="input-group date studentsAssignmentUpdateDate">
						<input class="form-control" name="submitEndDate"
							th:field="*{submitEndDate}" size="16" type="datetime" /> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-remove"></span></span> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="submit" th:text="#{label.form.submit}" class="btn btn-primary">submit</button>
	<button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
</div>
</form>
